body{background-color: #FFF7F5;}

header{position: fixed;height: 100px;width: 100%;padding-left: 100px;padding-right: 100px;top: 0;display: flex;justify-content: space-between;}
header h2{font-family: 'Montserrat', sans-serif;font-size: 20px;margin-top: 37px; font-weight: 600;}
.hamburger{height: 30px;width: 40px;margin-top: 33px;}
.hamburger div{position: relative;height: 2px;background-color: black;margin: 5px 0px 5px auto;}
.hamburger div:nth-child(1){width: 100%;}
.hamburger div:nth-child(2){width: 60%;}
.hamburger div:nth-child(3){width: 75%;}

section{position: relative;height: 900px;width: 100%; padding-left: 100px; padding-right: 100px; display: flex; justify-content: space-between;}
.container{position: relative;height: 735px;width: 33%; top: 50%; transform: translateY(-50%);}
.left--container{z-index: 50;}
.center--container{z-index: 30;}
.right--container{z-index: 20;}

.text-container{position: relative; height: 400px;width: 100%;top: 50%;transform: translateY(-50%);}
.text-container h1{font-family: 'Montserrat', sans-serif;font-weight: 700;font-size: 70px;width: 650px;margin-bottom: 20px;}
.text-container p{font-family: 'Montserrat', sans-serif;font-weight: 400;font-size: 20px;line-height: 1.4em;max-width: 390px;margin-top: 20px;}

.carousel1--wrapper{position: relative; height: 100%;width: 470px;top: 50%;transform: translateY(-50%);margin: 0 auto; overflow: hidden;}
.carousel1--wrapper img{position: relative;max-width: 100%;height: 100%;object-fit: cover}
.carousel2--wrapper{position: relative; height: 620px;width: 380px;top: 50%;transform: translateY(-50%);margin: auto 0px auto auto; overflow: hidden;}
.carousel2--wrapper img{position: relative;max-width: 100%;height: 100%;object-fit: cover;}

.scroll--indicator{position: relative;height: 90px;display: flex;margin-top: 245px;}
.scroll--indicator div{height: 100%;width: 2px;background-color: black;margin-right: 5px;}
.scroll--indicator p{position: relative;font-family: 'Montserrat', sans-serif;font-size: 18px;line-height: 1.3em;top: 49px;}

.buttons--wrapper{display: block;position: relative;height: 20px;float: right;margin-top: 102px;}
.buttonsRight--wrapper{display: none}

.scrollRight--indicator{display: none;}

/*
 * Macbook Pro
 *
 * width: 1440px
 */
@media screen and (max-width: 1500px) {

    .container{height: 630px;}
    .scroll--indicator{margin-top: 140px;}
    .carousel1--wrapper{height: 100%;width: 330px;}
    .carousel2--wrapper{height: 480px;width: 300px;}

    .buttons--wrapper{margin-top: 138px;}
}
  
@media screen and (max-width: 1300px) {
    header{padding-left: 40px;padding-right: 40px;}
    section{padding-left: 40px; padding-right: 40px;}
}
  
@media screen and (max-width: 1180px) {
    .text-container h1{font-size: 60px;}
    .text-container p{font-size: 17px;}
    .carousel2--wrapper{height: 390px;width: 240px;}
}
  

/*
 * Ipad Pro 11
 *
 * width: 834px
 */

  
 @media screen and (max-width: 1080px) {
    .container{height: 780px; margin-top: 20px;}
    .text-container{top: 0%;transform: translateY(0);}
    .text-container h1{margin-bottom: 10px;}
    .text-container p{max-width: 490px;}
    .left--container{width: 50%;}
    .center--container{position: absolute; left: 0; margin-left: 40px; height: 500px; margin-top: 170px;}

    .carousel2--wrapper{height: 620px;width: 380px;top: 0%;transform: translateY(0); float: right;}
    .scroll--indicator{display: none;}
    .buttons--wrapper{margin-top: 15px !important;}

    .scrollRight--indicator{height: 90px;display: flex; position: absolute; right: 0; bottom: 0px;}
    .scrollRight--indicator div{height: 100%;width: 2px;background-color: black; margin-left: 5px;}
    .scrollRight--indicator p{position: relative;font-family: 'Montserrat', sans-serif;font-size: 18px;line-height: 1.3em;top: 49px; text-align: right; height: 30px;}
}

@media screen and (max-width: 820px) {
    .text-container h1{font-size: 50px;}
    .carousel2--wrapper{height: 515px;width: 315px;top: 0%;transform: translateY(0); float: right;}
}

@media screen and (max-width: 760px) {
    .text-container h1{font-size: 50px;}
    .carousel2--wrapper{height: 425px;width: 260px;top: 0%;transform: translateY(0); float: right;}
}

@media screen and (max-width: 730px) {
    header{padding-left: 20px;padding-right: 20px;}
    section{padding-left: 20px; padding-right: 20px;}
    .text-container h1{width: 500px;}
    .center--container{margin-left: 20px;}
}
/*
 * Iphone Pro 11
 *
 * width: 414px
 */

 @media screen and (max-width: 650px) {
    .left--container{width: 100%; height: 200px; top: 150px;}
    .right--container{float: right; right: 20px; position: absolute;}
    .buttons--wrapper{display: none}
    .text-container{height: 200px;}
    .text-container h1{font-size: 40px; margin-bottom: 0px;}
    .text-container p{font-size: 17px;}
    .carousel2--wrapper{top: 200px; height: 400px;width: 240px;}

    .buttonsRight--wrapper{display: block;position: relative;height: 20px; margin-top: -30px; margin-bottom: 10px;}
}

@media screen and (max-width: 565px) {
    .carousel1--wrapper{height: 480px;width: 280px;}
}

@media screen and (max-width: 500px) {
    .text-container h1{width: 100%;}
    .text-container p{font-size: 15px;}
}

@media screen and (max-width: 440px) {
    .carousel1--wrapper{height: 420px;width: 230px;}
    .carousel2--wrapper{top: 200px; height: 360px;width: 190px;}
    .scrollRight--indicator{display: none;}
    .buttonsRight--wrapper{margin-top: -60px; margin-bottom: -25px;}
    .center--container{ margin-top: 200px;}
    .right--container{margin-top: 50px;}
    
}

@media screen and (max-width: 397px) {
    .text-container h1{font-size: 30px;}
}

@media screen and (max-width: 320px) {
    .buttonsRight--wrapper{margin-bottom: -15px;}
}