body{background-color: #FFF7F5;}

header{position: fixed;height: 100px;width: 100%;padding-left: 100px;padding-right: 100px;top: 0;display: flex;justify-content: space-between;}
header h2{font-family: 'Montserrat', sans-serif;font-size: 20px;margin-top: 37px; font-weight: 600;}
.hamburger{height: 30px;width: 40px;margin-top: 33px;}
.hamburger div{position: relative;height: 2px;background-color: black;margin: 5px 0px 5px auto;}
.hamburger div:nth-child(1){width: 100%;}
.hamburger div:nth-child(2){width: 60%;}
.hamburger div:nth-child(3){width: 75%;}

section{position: relative;height: 100vh;width: 100%; padding-left: 100px; padding-right: 100px; display: flex; justify-content: space-between;}
.container{position: relative;height: 735px;width: 33%; top: 50%; transform: translateY(-50%);}
.left--container{z-index: 50;}
.center--container{z-index: 30;}
.right--container{z-index: 20;}

.text-container{position: relative; height: 400px;width: 100%;top: 50%;transform: translateY(-50%);}
.text-container h1{font-family: 'Montserrat', sans-serif;font-weight: 700;font-size: 70px;width: 650px;margin-bottom: 20px;}
.text-container p{font-family: 'Montserrat', sans-serif;font-weight: 400;font-size: 20px;line-height: 1.4em;max-width: 390px;margin-top: 20px;}

.carousel1--wrapper{position: relative; height: 100%;width: 470px;top: 50%;transform: translateY(-50%);margin: 0 auto; overflow: hidden;}
.carousel1--wrapper img{position: relative;max-width: 100%;height: 100%;object-fit: cover}
.carousel2--wrapper{position: relative; height: 620px;width: 380px;top: 50%;transform: translateY(-50%);margin: auto 0 auto auto; overflow: hidden;}
.carousel2--wrapper img{position: relative;max-width: 100%;height: 100%;object-fit: cover;}

.scroll--indicator{position: relative;height: 90px;display: flex;margin-top: 245px;}
.scroll--indicator div{height: 100%;width: 2px;background-color: black;margin-right: 5px;}
.scroll--indicator p{position: relative;font-family: 'Montserrat', sans-serif;font-size: 18px;line-height: 1.3em;top: 49px;}

.buttons--wrapper{display: block;position: relative;height: 20px;float: right;margin-top: 102px;}



/*
 * Macbook Pro
 *
 * width: 1440px
 */
@media screen and (max-width: 1500px) {

    .container{height: 630px;}
    .scroll--indicator{margin-top: 140px;}
    .carousel1--wrapper{height: 100%;width: 400px;}
    .carousel2--wrapper{height: 480px;width: 300px;}

    .buttons--wrapper{margin-top: 138px;}
}
  
@media screen and (max-width: 1300px) {
    header{padding-left: 40px;padding-right: 40px;}
    section{padding-left: 40px; padding-right: 40px;}
}
  

/*
 * Ipad Pro 11
 *
 * width: 834px
 */

/*
 * Iphone Pro 11
 *
 * width: 414px
 */